@import "../../../../node_modules/ngx-toastr/toastr.css";

.save {
  border-radius: 20px;
  background-color: #03c03c;
  font-size: 15px;
}
.return {
  border-radius: 20px;
  background-color: #034694;
  font-size: 15px;
}
